// extend directives for form styling
%form {
    width:100%;
    padding:10px;
    margin-bottom:25px;
    border:none;
    outline: none;
}

// extend directives for styling buttons
%btn{
    border-radius:5px;
    color:$button-color;
    text-transform:uppercase;
    font-size:0.9rem;
}

