
// form styling
.grid__col--4 .form{
    margin-top:10%;
   
}
.form__label--hidden{
    @extend %form;
    display: none;
}
.form__input{
    @extend %form;
    border-bottom:5px solid $color-primary;
    font-size:$font-base;
}
