
// image styling logo
.img--logo{
    display:block;
    width:40%;
    margin: auto;
    //using media query directive
    @include mediaQuery(map-get($break-points, "l")){
        width:50%;
        margin:auto;
    }
}
.img--avatar{
    display:block;
    max-width:100%;
    margin:20px auto;
}
// bigger image styling
.img--frame{
    border:0.5px solid $light-color;
    padding:15px;
    display:block;
    width:100%;
    margin:0 auto;
}
