
// typography
.container{
    width:90%;
    margin:20px auto;
    @include flexy($dir:column);
    font-size:$font-base;
    line-height:1.2;
    letter-spacing: 0.5px;
    font-family: "lato", sans-serif;
    color:$light-color
}
.headline--primary{
    margin:-5px 0px 40px 20px;
    width:80%;
    font-size:2rem;
    color:$color-primary;
    font-weight:bolder;
    letter-spacing:0;
}
.link{
    color:$color-secondary;
    text-decoration: none;  
}
// blockquote styling
.blockquote{
    position:relative;
    font-style:italic;
    font-size:1.6rem;
    @include pseudo($wid:1%, $hei:100%, $top:0px, $left:-30px){
        background:$color-primary;
        border-radius:5px 0px 0px 5px;
    }
}